.formPicker {
    flex: 0.7;
    height: 60vh;
    background-color: #FFF;
}

.formPicker__tabs {
    display: flex;
}

.formPicker__tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #272e71;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.formPicker__selectedTab {
    background-color: white;
    color: #272e71;
    cursor: default;
}