.form__content {
    margin-top: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__field {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 40px;
}

.form__field :first-child {
    flex: 0.3;
    text-align: center;
}

.form__field> :nth-child(2) {
    flex: 0.7;
}

.form__field>input, .form__field>select {
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 20px;
    outline: none;
}

.form__button>button {
    padding: 10px;
    margin-top: 70px;
    font-size: 1.4rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #272e71;
    color: white;
}

.form__button>button:focus {
    outline: none;
}

.form__buttonUpdated {
    padding: 10px;
    margin-top: 70px;
    font-size: 1.4rem;
    border-radius: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: default;
}

.form>h1 {
    color: #272e71;
}

.form__warning {
    background-color: #DA4120;
    padding: 7px;
    border-radius: 20px;
    color: white;
    opacity: 0;
    transition: all 0.3s;
}

.form__warning.show {
    opacity: 1;
}