.header {
    width: 100%;
    height: 80px;
    background-color: #272e71;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left>img {
    width: 300px;
    cursor: pointer;
}

.header__list {
    display: flex;
    list-style-type: none;
}

.header__list>* {
    color: white;
    margin-right: 20px;
    cursor: pointer;
}