.sidebar {
    flex: 0.3;
    padding-right: 100px;
    margin-left: -100px;
    transition: all 0.5s;
}

.sidebar__selected {
    color: white;
    background-color: #272e71;
    padding: 10px;
    padding-left: 0;
}

.sidebar>ul {
    padding-top: 50px;
    list-style-type: none;
    width: max-content;
    color: #272e71;
}

.sidebar>ul>li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 5px;
}

.sidebar>ul>li>.MuiSvgIcon-root {
    margin-right: 15px;
}