.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EEE;
}

.app__mainContainer {
  width: 80%;
  height: 90%;
  background-color: #DDD;
}

.app__innerContainer {
  /* border: 1px solid red; */
  margin: 150px 20%;
  display: flex;
}